:root {
  /* branco areia bem clarinho */
  --background: #fcf7ef;
  --foreground: #171717;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
